<% if user_signed_in?  %>

	<div class="success"> Saved! </div>

	<div id="index">
		<aside></aside>
		<div class="trailer"></div>
	</div>

	<div id="user-show">
		<p> you are here</p>
		<% @movies.each do |movie| %>
			<img src="<%= movie.poster %>">
		<% end %>
	</div>

	<div id="map"></div>

	<input type="text" placeholder="20850">
	<button> Find movies </button>



<% else %>
	<div> Sign in yo </div>
<% end %>