<% if user_signed_in?  %>

	<div class="success"> Saved! </div>

	<div id="index">
		<aside></aside>
	</div>

	<div class="trailer"></div>

		<% @movies.each do |movie| %>
			<div data-title="<%= movie.name %>" class="user-show">
				<p> you are here</p>
				<img src="<%= movie.poster %>">
				<button class="watch-trailer">Trailer</button>
			</div>
		<% end %>

	<div class="map-input">
		<div id="map"></div>

		<input type="text" placeholder="20850">
		<button> Find movies </button>
	</div>



<% else %>
	<div> Sign in yo </div>
<% end %>