header{
	padding: 20px;
	width: 100%;
	background: #9fe6ca ;
	&:after{
		content: "";
		clear: both;
		display: block;
	}
	img{
		width: 8%;
	}
	ul{
		float: right;
		margin-right: 80px;
		list-style: none;
		li{
			display: inline-block;
			margin-left: 20px;
			cursor: pointer;
		}
	}
}

a{
	text-decoration: none;
	color: inherit;
	&:visited{
		color: inherit;
	}
}