body{
	background: #fff;
}

.success{
	background: green;
	width: 100%;
	padding: 20px;
	top:0;
	position: fixed;
	display: none;
}


//index of movies 
.side-contain{
	position: absolute;
	height: 500px;
	width: 30%;
	left: 0;
	bottom: 0;
	overflow: auto;
	text-align: center;
}
aside{
	position: relative;
	text-align: center;
	img{
		display: block;
		margin: 10px auto;
		width: 60%;
	}
	button{
		margin-bottom: 40px;
	}
}

#map,
.trailer{
	position: fixed;
	right: 50px;
	top: 115px;
}

.trailer{
	embed{
		width: 800px;
		height: 400px;
	}
}

#map{
	width: 800px;
	height: 500px;
}


button,
input{
	color: black;
}