body{
	background: black;
	color: white;
}

.success{
	background: green;
	width: 100%;
	padding: 20px;
	top:0;
	position: fixed;
	display: none;
}


//index of movies 
aside{
	float: left;
	width: 30%;
	text-align: center;
	img{
		display: block;
		margin: 10px auto;
		width: 80%;
	}
}

#map,
.trailer{
	position: fixed;
	right: 50px;
	top: 115px;
}

.trailer{
	embed{
		width: 800px;
		height: 400px;
	}
}

#map{
	width: 800px;
	height: 500px;
}


button,
input{
	color: black;
}