<header> 
	<ul>
		<% if current_user %>
			<li id="usermovies"><%= 'My Movies' %></li>
			<li id="comingsoon"><%= 'Coming Soon' %></li>
			<li id="outnow"><%= 'In Theaters' %></li>
		<% else %>
			<li> <%= link_to "Sign in", sign_in_path %> </li>
		<% end %>
	</ul>
</header>